<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gibsson.basic.service.app"
  android:sharedUserId="android.uid.system">

  <application android:name=".BasicServiceApp" android:persistent="true">
	  <uses-library android:name="com.gibsson.basic.service.lib" />
  </application>
</manifest>
